@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
:root {
  --page: var(--ctp-latte-base) /*base*/;
  --background: #1e1e2e;
  --background-secondary: var(--ctp-latte-mantle) /*mantle*/;
  --background-dark: #11111b /*crust*/;

  --title: var(--ctp-latte-blue) /*blue*/;
  --block: var(--ctp-latte-surface0) /*surface0*/;
  --block-buttons: var(--ctp-latte-surface1) /*surface1*/;
  --input: var(--ctp-latte-surface0) /*surface0*/;
  --column: var(--ctp-latte-crust) /*crust*/;
  --text-primary: var(--ctp-latte-text) /*text*/;
  --text-secondary: var(--ctp-latte-subtext1) /*subtext1*/;
  --text-placeholder: var(--ctp-latte-subtext0) /*subtext0*/;
}
input,
select,
.column,
.key-form,
button,
.key-button,
.searchbar {
  background-color: var(--ctp-latte-surface0) /*surface0*/;
  color: var(--ctp-latte-subtext1) /*subtext1*/;
}
.settings-card {
  background-color: var(--ctp-latte-mantle) /*mantle*/;
}
input:checked + .slider-round {
  background-color: #000;
}
.fixed-nav-bar-right .navbar-link {
  color: var(--ctp-latte-mauve) /*mauve*/;
}
.fixed-nav-bar-right:hover .navbar-link:hover {
  color: var(--ctp-latte-blue) /*blue*/;
}

h1 {
    font-size: 96px;
    font-family: var(--font-family);
    text-shadow: 0 0 10px var(--text-color),
                 0 0 10px var(--text-glow),
                 0 0 30px var(--text-glow),
                 0 0 40px var(--text-color),
                 0 0 50px var(--text-glow),
                 0 0 60px var(--text-color),
                 0 0 70px var(--text-glow),
                 0 0 80px #000000;
    margin-bottom: 0px;
}

h2 {
    font-size: 20px;
}
  
p {
    font-size: 18px;
    margin-bottom: 2px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    text-shadow: 5px 5px 5px var(--text-glow);
    animation: paragraphTween 1.2s ease-in-out forwards;
}
  
.linkp a {
    font-size: 20px;
    text-align: center;
    border: 3px solid transparent;
    transition: 0.15s ease-in-out;
    text-shadow: 5px 5px 5px var(--text-glow);
}
  
.linkp a:hover {
    color: rgb(199, 192, 192);
}
  
a {
    font-size: 18px;
    text-decoration: underline;
    color: var(--text-color);
    
    text-shadow: 5px 5px 5px var(--text-glow);
}

.cursor {
    width: 7px;
    height: 7px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.8;
    z-index: 10000;
}
  
@keyframes mainHeaderAnimation {
    0% {
        opacity: 0;
        transform: translateY(-25%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
  
@keyframes paragraphTween {
    0% {
        transform: translateX(-4%);
    }
    100% {
        transform: translateX(0%);
    }
}
  
@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(45deg, var(--border-color1), var(--border-color2));
    }
    100% {
        border-image-source: linear-gradient(45deg, var(--border-color2), var(--border-color1));
    }
}
  
